{% extends 'base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{% url 'scouting:index' %}"><i class="fas fa-magnifying-glass mx-2"></i> Scouting</a>
{% endblock %}

{%  block navbar_items %}
    {% if perms.scouting.stands_scout_team %}
        <div class="navbar-item">
            <a href="{% url 'scouting:index' %}" class="nav-link">Match Schedule</a>
        </div>
    {% endif %}
    {% if perms.scouting.pit_scout_team %}
        <div class="navbar-item">
            <a href="{% url 'scouting:pit_scout_teams_list' %}" class="nav-link">Pit Scout</a>
        </div>
    {% endif %}
    <div class="navbar-item">
        <a href="{% url 'scouting:team_statistics_list' %}" class="nav-link">Team Statistics</a>
    </div>
{% endblock %}
