{% extends 'scouting/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}


{% block title %} | Match {{ match.match_number }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Match {{ match.match_number }} | Team {{ team.team_number }}</h1>
        <form method="POST">
            {% csrf_token %}
            {% for section, fields in form.field_groups.items %}
                <div class="card">
                    <div class="card-header">
                        {{ section }}
                    </div>
                    <div class="card-body">
                        {% for field in fields %}
                            {{ form|get_form_field:field|as_crispy_field }}
                        {% endfor %}
                    </div>
                </div>
                <br>
            {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Match</button>
        </form>
    </div>
{% endblock %}



