{% extends 'scouting/base.html' %}

{% block title %} | Pit Scout {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="m-3 text-center">Assigned Teams</h1>
            <div class="table-responsive">
            <table class="table table-striped table-sm align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Team #</th>
                        <th scope="col" class="text-nowrap">Logo</th>
                        <th scope="col" class="text-nowrap">Team Name</th>
                        <th scope="col" class="text-nowrap">Scout Assigned</th>
                        <th scope="col" class="text-nowrap">Scout</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in pit_scout_reports %}
                        {% if report.description == '' and report.assigned_scout == current_user%}
                            <tr>
                                <th scope="row">{{ report.team.team_number }}</th>
                                <td>
                                    {% if report.team.team_logo %}
                                        <img src="{{ report.team.team_logo.url }}" alt="Team {{ report.team.team_number }} logo" class="img-thumbnail" style="height: 40px; width: 40px; object-fit: cover;">
                                    {% endif %}
                                </td>
                                <td>{{ report.team.team_name }}</td>
                                <td>
                                    {% if report.assigned_scout %}
                                        {% if report.assigned_scout.get_full_name %}
                                            {{ report.assigned_scout.get_full_name }}
                                        {% else %}
                                            {{ report.assigned_scout.username }}
                                        {% endif %}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'scouting:pit_scout_team' team_number=report.team.team_number %}" class="btn btn-primary btn-sm text-nowrap" role="button">Scout</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <h1 class="m-3 text-center">Other's Assigned Teams</h1>
            <div class="table-responsive">
            <table class="table table-striped table-sm align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Team #</th>
                        <th scope="col" class="text-nowrap">Logo</th>
                        <th scope="col" class="text-nowrap">Team Name</th>
                        <th scope="col" class="text-nowrap">Scout Assigned</th>
                        <th scope="col" class="text-nowrap">Scout</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in pit_scout_reports %}
                        {% if report.description == '' and not report.assigned_scout == current_user%}
                            <tr>
                                <th scope="row">{{ report.team.team_number }}</th>
                                <td>
                                    {% if report.team.team_logo %}
                                        <img src="{{ report.team.team_logo.url }}" alt="Team {{ report.team.team_number }} logo" class="img-thumbnail" style="height: 40px; width: 40px; object-fit: cover;">
                                    {% endif %}
                                </td>
                                <td>{{ report.team.team_name }}</td>
                                <td>
                                    {% if report.assigned_scout %}
                                        {% if report.assigned_scout.get_full_name %}
                                            {{ report.assigned_scout.get_full_name }}
                                        {% else %}
                                            {{ report.assigned_scout.username }}
                                        {% endif %}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'scouting:pit_scout_team' team_number=report.team.team_number %}" class="btn btn-primary btn-sm text-nowrap" role="button">Scout</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>

    <h1 class="m-3 text-center">Pit Scouting Complete</h1>
            <div class="table-responsive">
            <table class="table table-striped table-sm align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Team #</th>
                        <th scope="col" class="text-nowrap">Logo</th>
                        <th scope="col" class="text-nowrap">Team Name</th>
                        <th scope="col" class="text-nowrap">Scout</th>
                        <th scope="col" class="text-nowrap">Report</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in pit_scout_reports %}
                        {% if report.description != '' %}
                            <tr>
                                <th scope="row">{{ report.team.team_number }}</th>
                                <td>
                                    {% if report.team.team_logo %}
                                        <img src="{{ report.team.team_logo.url }}" alt="Team {{ report.team.team_number }} logo" class="img-thumbnail" style="height: 40px; width: 40px; object-fit: cover;">
                                    {% endif %}
                                </td>
                                <td>{{ report.team.team_name }}</td>
                                <td>
                                    {% if report.assigned_scout %}
                                        {% if report.assigned_scout.get_full_name %}
                                            {{ report.assigned_scout.get_full_name }}
                                        {% else %}
                                            {{ report.assigned_scout.username }}
                                        {% endif %}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'scouting:pit_scout_team' team_number=report.team.team_number %}" class="btn btn-primary btn-sm text-nowrap" role="button">View Report</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
{% endblock %}
